<!DOCTYPE html>
<html>
<head>
  <title>SecondProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">  
         <li><%= link_to 'User', users_path %></li>
         <li><%= link_to 'Order', orders_path %></li>
      </ul>   
    </nav>     

<%= yield %>

</body>
</html>
